<div id="body-inner">
    <p><center><big><b>{{ page.title }}</b></big><br>
    <big><i>{{ page.header.description }}</i></big></center></p>
    <hr>
    <p>
    	{{ page.content|raw }}
    </p>
</div>
